@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  --text-light: rgba(243, 244, 246, 0.9);
  --primary-dark: rgba(15, 14, 34, 0.9);
  --secondary-dark: rgba(97, 96, 110, 0.7);
  --bg-light: rgba(243, 244, 246, 0.1);
  --bg-btn: rgba(156, 255, 0, 0.8);
  --search-light: #d8ff9a;
  --search-med: #baff4d;

  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: rgba(15, 14, 34, 0.9);

}
* {
  box-sizing: border-box;
}

a {
  color: #ccc;
  text-decoration: none;
}
a:hover {
  color: rgba(156, 255, 0, 0.8);
}

header {
  display: flex;
  justify-content: center;
  padding: 25px;
  letter-spacing: 2px;
  position: sticky;
  top: 0;
  background-color: var(--bg-light);
  z-index: 2;
  box-shadow: 10px 10px 20px -10px var(--search-light);
}
.site-logo {
  margin-top: -19px;
  position: absolute;
  left: 5%;
}
.site-logo img {
  width: 131px;
  height: 131px;
}

h1 {
  font-family: "Kanit", sans-serif;
  color: var(--bg-btn);
  margin: auto;
} */

ul {
  margin-bottom: 0px;
}

p {
  font-size: 15px;
  line-height: 30px;
  color: var(--text-light);
}

section {
  margin-top: 7.5rem;
}

img {
  width: 100%;
  overflow: hidden;
}

.heading2 {
  margin-left: 4em;
  font-family: "Kanit", sans-serif;
  color: var(--bg-btn);
  text-shadow: 2px 2px 7px var(--search-med);
  font-size: 60px;
  line-height: 7px;
  font-weight: 700;
}

.content-subheading {
  margin-left: 16em;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* preloader styling */
.preloader,
.preloader:before,
.preloader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.preloader {
  color: #f00c93;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.preloader:before,
.preloader:after {
  content: '';
  position: absolute;
  top: 0;
}
.preloader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.preloader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.loaded {
  transition: display 5s;
  display: none;
}

.gameList {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* main content styling */
.most-popular {
  margin-top: 30px;
  padding: 30px;
  background-color: var(--primary-dark);
  border-radius: 23px;
}
.most-popular .game-card {
  width: 20%;
  background-color: var(--secondary-dark);
  padding: 30px 15px;
  border-radius: 23px;
  margin-bottom: 25px;
  margin-left: 25px;
}
.most-popular .game-card .item {
  color: black;
  padding: 0px;
  border-radius: 0px;
  background-color: transparent;
  margin-bottom: 0px;
}
.most-popular .game-card img {
  border-radius: 23px;
  max-height: 185px;
}
.most-popular .game-card h4 {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0px;
  display: inline-block;
}
.most-popular .game-card span {
  color: black;
  display: block;
  margin-top: 7px;
  font-weight: 400;
}
.most-popular .game-card li span {
  display: inline-block;
  color: b;
  padding-left: 5px;
}
.most-popular .game-card ul {
  float: right;
  margin-top: 20px;
}
.most-popular .game-card ul li {
  text-align: right;
  color: #ccc;
  font-size: 14px;
}
.most-popular .game-card ul li:first-child i {
  color: var(--bg-btn);
}
.most-popular .game-card ul li:last-child i {
  color: #f00c93;
}
.most-popular .main-button {
  text-align: center;
  margin-bottom: -53px;
}

/* load more button styling */
.main-button a {
  font-size: 1em;
  color: var(--secondary-dark);
  background-color: var(--bg-btn);
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}
.main-button a:hover {
  color: #baff4d;
  background-color: var(--secondary-dark);
}
.main-border-button a {
  font-size: 1em;
  color: var(--bg-btn);
  background-color: transparent;
  border: 1px solid var(--search-light);
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}
.main-border-button a:hover {
  border-color: #ccc;
  background-color: #ccc;
  color: var(--secondary-dark);
}
.border-no-active a {
  border-color: var(--bg-light);
  color: #666;
}
.border-no-active a:hover {
  border-color: var(--bg-light);
  color: #666;
  background-color: transparent;
}

/* backToTop EventListener styling */
.backToTop {
  display: none;
  position: fixed;
  bottom: 5rem;
  right: 3em;
}
.backToTop-link:hover {
  color: var(--search-med);
}

/* footer*/
footer {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}
footer img {
  width: 35px;
  height: 35px;
}
footer a {
  font-size: smaller;
}