@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  --text-light: rgba(243, 244, 246, 0.9);
  --primary-dark: #313c53;
  --secondary-dark: rgba(55, 65, 81, 0.7);
  --bg-light: rgba(243, 244, 246, 0.1);
  --bg-btn: rgba(156, 255, 0, 0.8);
  --search-light: #d8ff9a;
  --search-med: #baff4d;
  
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
  background-color: #313c53;

}
* {
  box-sizing: border-box;
}
a {
  color: #ccc;
  text-decoration: none;
}
a:hover {
  color: var(--search-med);
}

header {
  display: flex;
  justify-content: center;
  padding: 25px;
  letter-spacing: 2px;
  position: sticky;
  top: 0;
  background-color: var(--secondary-dark);
  z-index: 2;
  box-shadow: 10px 10px 20px -10px var(--search-light);
}
.site-logo {
  margin-top: -19px;
  position: absolute;
  left: 5%;
}
.site-logo img {
  width: 131px;
  height: 131px;
}
h1 {
  font-family: "Kanit", sans-serif;
  color: var(--bg-btn);
  margin: auto;
}


.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}

/* xml=collection of names used as attributes */
html[xmlns] .clearfix {
  display: block;
}        
* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul {
  margin-bottom: 0px;
}
p {
  font-size: 15px;
  line-height: 30px; 
  color: var(--text-light); 
}

section, article, aside, footer, hgroup {
  display: block;
}
section {
  margin-top: 7.5rem ;
}
img {
  width: 100%;
  overflow: hidden;
}

::selection {
  background-color: var(--search-med);
  color: var(--secondary-dark);
}

.main-button a {
  font-size: 1em;
  color: var(--secondary-dark);
  background-color: #baff4d;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}
.main-button a:hover {
  color: #baff4d;
  background-color: var(--secondary-dark);
}
.main-border-button a {
  font-size: 1em;
  color: var(--bg-btn);
  background-color: transparent;
  border: 1px solid var(--bg-btn);
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}
.main-border-button a:hover {
  border-color:  #ccc;
  background-color:  #ccc
  color: var(--secondary-dark);
}
.border-no-active a {
  border-color: var(--bg-light);
  color: #666;
}
.border-no-active a:hover{
  border-color: var(--bg-light);
  color: #666;
  background-color: transparent;
}

/* preloader styling */
.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(49, 60, 83, 0.85);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
@-webkit-keyframes dots {
  50% {
      -webkit-transform: translateX(-31px);
      transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
      -webkit-transform: translateX(-31px);
      transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: transparent;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #f00c93;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}
.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}
.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #f00c93;
  border-radius: 50%;
}