@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  --text-light: rgba(243, 244, 246, 0.9);
  --primary-dark: #313c53;
  --secondary-dark: rgba(55, 65, 81, 0.7);
  --bg-light: rgba(243, 244, 246, 0.1);
  --bg-btn: rgba(156, 255, 0, 0.8);
  --search-light: #d8ff9a;
  --search-med: #baff4d;
  
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
  background-color: #313c53;

}
* {
  box-sizing: border-box;
}
a {
  color: #ccc;
  text-decoration: none;
}
a:hover {
  color: var(--search-med);
}

header {
  display: flex;
  justify-content: center;
  padding: 25px;
  letter-spacing: 2px;
  position: sticky;
  top: 0;
  background-color: var(--secondary-dark);
  z-index: 2;
  box-shadow: 10px 10px 20px -10px var(--search-light);
}
.site-logo {
  margin-top: -19px;
  position: absolute;
  left: 5%;
}
.site-logo img {
  width: 131px;
  height: 131px;
}
h1 {
  font-family: "Kanit", sans-serif;
  color: var(--bg-btn);
  margin: auto;
}


.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}

/* xml=collection of names used as attributes */
html[xmlns] .clearfix {
  display: block;
}        
* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul {
  margin-bottom: 0px;
}
p {
  font-size: 15px;
  line-height: 30px; 
  color: var(--text-light); 
}

section, article, aside, footer, hgroup {
  display: block;
}
section {
  margin-top: 7.5rem ;
}
img {
  width: 100%;
  overflow: hidden;
}

::selection {
  background-color: var(--search-med);
  color: var(--secondary-dark);
}

.main-button a {
  font-size: 1em;
  color: var(--secondary-dark);
  background-color: #baff4d;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}
.main-button a:hover {
  color: #baff4d;
  background-color: var(--secondary-dark);
}
.main-border-button a {
  font-size: 1em;
  color: var(--bg-btn);
  background-color: transparent;
  border: 1px solid var(--bg-btn);
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}
.main-border-button a:hover {
  border-color:  #ccc;
  background-color:  #ccc;
  color: var(--secondary-dark);
}
.border-no-active a {
  border-color: var(--bg-light);
  color: #666;
}
.border-no-active a:hover{
  border-color: var(--bg-light);
  color: #666;
  background-color: transparent;
}

/* preloader styling */
.js-preloader,
.js-preloader:before,
.js-preloader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.js-preloader {
  color: #f00c93;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.js-preloader:before,
.js-preloader:after {
  content: '';
  position: absolute;
  top: 0;
}
.js-preloader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.js-preloader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

